.form {
    width: 300px;
    max-width: fit-content;
    display: inline-block;
    color: var();
    border: 2px solid;
    border-radius: 10px;
    padding: 15px 30px;
}

.input {
    border-radius: 4px;
    margin: 2px 0px;
    width: 60%;
    height: 40px;
    font-size: 20px;
    border: 1px solid;
    color: var(--primary-color);
    background-color: rgb(214, 214, 214);
    text-align: center;
    text-transform: uppercase;
}

input:focus {
    background-color: rgb(243, 243, 243);
    outline: none;

}

label {
    color: var(--primary-color);
}