.form {
    position: relative;
    border: solid 1px;
    text-align: left;
    width: 100%;

}

.label {
    display: block;
}

.input {
    border-radius: 5px;

}

.address {
    border-radius: 5px;
    width: 100%;
}