button {
    /* border-radius: 5px; */
    margin: 0px 1px;
    /* height: 20px; */
    /* width: 75px; */
}

.form {
    border: dotted 1px; 
    width: 34%;
    padding: 0.5rem;
}

.label-bar {
    /* border: dotted 2px; */
    margin: 5px;
    display: flex;
    justify-content: space-between;
}

.date {
    /* border: solid 1px; */
    display: flex;
    margin: 5px;
    float: left;
}

.address1 {
    /* border: dotted 1px; */
    clear: both;
    margin: 5px;
    
}

.address2 {
    
    /* border: dotted 1px; */
    margin: 5px;
    display:flex;
}

.coordinates {
    /* border: dotted 1px; */
    clear: both;
    display: flex;
    margin: 5px;
}

.cargo {
    display: flex;
    margin: 5px;
}

.ref {
    display: flex;
    margin: 10px 5px;
}


