input,
select,
textarea,
button {
    border-radius: 4px;
    margin: 2px 0px;
    width: 100%;
}

button {
    margin: 5px 1px;
    width: 75px;
}

.submit-button {
    height: 22px;
    margin: auto 10px 10px 10px;


}


label {
    display: block;
}



main {
    border: dotted;
    margin: 10px 20%;
    /* display: flex; */
    /* justify-content: center; */
}

.loading-block {
    border: solid 7px white;
    width: 32%;
    padding: 10px;
}


.unloading-block {
    /* border: solid 1px white; */
    margin-top: 5px;

    width: 32%;
    padding: 10px;
}


.label-bar {
    display: flex;
    justify-content: space-between;
}

.date-time-block {
    display: flex;
}

.address2 {
    display: flex;

}

.select {
    margin: 0px 2px;

}

.post-code {
    width: 35%
}

.country {
    width: 35%;

}

.distance {
    width: 30%
}

.order-fields {
    border: solid 7px white;
    width: 32%;
    padding: 10px;
}