input,
select,
textarea,
button {
    border-radius: 4px;
    margin: 2px 0px;
    width: 100%;
}

button {
    margin: 5px 1px;
    width: 75px;
}

.submit-button {
    height: 22px;
    margin: auto 10px 10px 10px;
}


label {
    /* display: flex; */
    font-weight: bold;
}

main {
    border: double white;
    margin: 10px 0px;
}

.loading-fields {
    width:300px;
    min-width: 20%;
    display: inline;
    margin: 7px;
    /* border: solid white 3px; */
    padding: 2px;
}
.unloading-block {
    /* border: solid white 3px; */
    margin: 7px;
    width: max-content;
    padding: 2px;
    display: flex;

}
.unloading-fields {
    width:300px;
    min-width: 25%;
    display: block;
    margin: 0px 7px
}

.label-bar {
    display: flex;
    justify-content: space-between;

}

.date-time-block {
    display: flex;
}

.address2 {
    display: flex;

}

.select {
    margin: 0px 2px;

}

.post-code {
    width: 35%
}

.country {
    width: 35%;

}

.distance {
    width: 30%
}

.fields {
    display: flex;
}