.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
}

.modal-content {
    background: var(--secondary-color);

    /* Background color from the module */
    padding: 20px;
    border-radius: 10px;

    box-shadow: 4px 4px 10px rgb(53, 52, 52);
    border: 10px solid var(--primary-color);

    /* Border color from the module */
}

.buttons {
    width: 100%;
    justify-content: space-between;

}

.LeavePageModal .buttons button {
    /* Add any other styles you have */
    margin: 0 20px; /* Add margin to create space between buttons */
}