@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  margin: 0;
  background-color: #2d3c58;
  color: #e9e9d3;
}

nav {
  margin-left: -41px;

}

/* Knopf buttons */
:root {
  --knopf-hue: 164;
  --knopf-saturation: 88%;
  --knopf-luminosity: 28%;

}

.negative {
  --knopf-hue: 356;
  --knopf-saturation: 57%;
  --knopf-luminosity: 51%;
}

.standard {
  --knopf-hue: 218;
  --knopf-saturation: 35%;
  --knopf-luminosity: 22%;
}

.reversed {
  --knopf-hue: 60;
  --knopf-saturation: 33%;
  --knopf-luminosity: 87%;
  --text-decoration-color: #161e2d;
}

.buttons {
  text-align: center;
}

.add {

  --knopf-icon-size-base: 1.125rem;
}

.delete {
  justify-content: left;
}

.submit {
  height: 82px;
  margin: auto 10px 10px 10px;
  --knopf-justify-content: center;
}


@import '~leaflet/dist/leaflet.css';